{
  "presets": ["next/babel"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "@components": "./src/components",
          "@api": "./src/api",
          "@typeDefs": "./src/types",
          "@generated": "./src/generated"
        }
      }
    ]
  ]
}