.charity-donate-box {
  display: block;
  border: 1px solid #ccc;
  margin-bottom: 24px; 
}

.charity-donate-box-header {
  padding: 16px;
  line-height: 2rem;
  background-color: rgb(241, 241, 241);
  font-size: 1.2rem;
  font-weight: 400;
}

.charity-donate-box-content {
  border-top: 1px solid #ccc;
  padding: 16px;
}