.ui.menu.top-menu {
  border: none; /*Remove Semantic UI's bottom border*/
  .logo {
    width: 17rem;
  }
  .container {
    flex-grow: 1;
    padding: 0;
  
    .input {
      width: 50%;
      margin: auto;
  
      form {
        width: 100%;
      }
    }
  }
  .icon {
    color: #a0a0a0;
  }
}